#body {
  border : solid;
  border-width : 20px;
  border-color : #93DAFF;
}

#footer {
  border-top : solid;
  border-width : 20px;
  border-color : #93DAFF;
  position:relative;
  height:50px;
  padding : 10px;
  text-align:center;
}

#nav-button {
  float : right;
  padding : 10px;
}

#nav-button > button {
  display : inline-block;
  margin : 10px;
  width : 100px;
  box-shadow : 1px 1px 1px 1px gray;
  background-color : #93DAFF;
}

#square-button {
  display : flex;
  align-items : center;
  justify-content : center;
}

#square-button > button {
  margin : 10px;
  height : 100px;
  width : 100px;
  box-shadow : 1px 1px 1px 1px gray;
  background-color : #93DAFF;
  color : #FFFFFF;
}

#section {
  padding : 50px;
}

#section > img {
  height : 500px;
  width : 800px;
  display: block;
  margin: 0px auto;
}

#info {
  margin-top: 50px;
  margin-bottom: 2%;
  text-align:center;
}

a : hover {
  cursor : pointer;
}
